<p id="notice"><%= notice %></p>


<h1>Edit Task</h1>

<%= form_for(@to_do) do |f| %>

 <div class="field">
   <%= f.label :text, "Insert text here:" %><br>
   <%= f.text_field :text %>
 </div>

 <div class="field">
   <%= f.label :due_date, "Insert Due Date here:" %><br>
   <%= f.date_field :due_date %>
 </div>

 <div class="actions">
   <%= f.submit %>
 </div>
<% end %>


<%= button_to 'Back', root_path, :method => "get" %>
