<p id="notice"><%= notice %></p>


<h1>New To-Do Item</h1>

<%= form_for(@to_do) do |f| %>

 <div class="field">
   <%= f.label :text, "Input your task here:" %><br>
   <%= f.text_field :text %>
 </div>
 <div class="actions">
   <%= f.submit %>
 </div>
<% end %>

<%= button_to 'Back', root_path, :method => "get" %>
